<launch>

<arg name="vehicle" default="peach"/>
<arg name="dyn_rec" default="false"/>

<node name="offB_Controller" pkg="a_uav_controller" type="offB_Controller" output="screen">
    <rosparam command="load" file="$(find a_uav_controller)/config/controller/$(arg vehicle)_config.yaml"/>
    <rosparam command="load" file="$(find a_uav_controller)/config/uav_parameters/$(arg vehicle)_param.yaml"/>
</node>
<group if="$(arg dyn_rec)">
    <node name="rqt_reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</group>
<node name="load_initial_gains" pkg="dynamic_reconfigure" type="dynparam" args="load /offB_Controller $(find a_uav_controller)/config/controller/initial_gains_$(arg vehicle).yaml"/>
</launch>